@import url('https://fonts.googleapis.com/css2?family=Noto+Naskh+Arabic:wght@400;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: 'Noto Naskh Arabic', serif;
}

.rhap_container.player-custom-audio {
  background-color: #fff;
  box-shadow: none;
}

@layer base {
  body {
    @apply bg-slate-50;
  }
  .wrapper {
    @apply mx-auto max-w-3xl w-full px-3 xl:px-0;
  }
}
